body {
    @include mq(tp_min){
        .wrapper {
            width: 960px;
            margin: 0 auto;
        }
    }
    font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 1.9;
    text-align: left;

    h1,
    h2 {
        font-size: 30px;
        font-weight: lighter;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }

    a {
        color: #333;
        text-decoration: none;
    }

    .title {
        font-size: 40px;
        letter-spacing: 0.1em;
    }

    .menu {
        ul {
            list-style: none;

            &:before {
                content: "";
                display: table;
            }

            @include mq(sp_min) {
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }

            li {
                @include mq(sp_min) {
                    text-align: center;
                    display: block;
                    width: 100px;
                    padding-right: 30px;
                    border-bottom: 1px solid #d9d9d9;

                    a {
                        padding: 25px 0;
                        font-family: 'Lato', sans-serif;
                        font-weight: 400;
                        font-size: 13px;
                        letter-spacing: 0.1em;
                    }
                }

                @include mq(sp_max) {
                    float: left;
                    border-bottom: 1px solid #d9d9d9;
                    text-align: center;
                    display: block;
                    width: 100%;

                    &:first-child {
                        border-top: 1px solid #d9d9d9;
                    }

                    &:nth-child(2) {
                        border-right: 1px solid #d9d9d9;
                    }

                    a {
                        display: inline-block;
                        padding: 12px 0;
                        font-family: 'Lato', sans-serif;
                        font-weight: 400;
                        font-size: 13px;
                        letter-spacing: 0.1em;
                    }
                }
            }

            @include mq(sp_max) {
                .about {
                    width: 100%;
                }

                .portfolio {
                    width: 49.85%;
                }

                .tipslog {
                    width: 49.85%;
                }

                .contact {
                    width: 100%;
                }
            }

            &::after {
                content: "";
                display: table;
                clear: both;
            }
        }
    }

    .socialIcon {
        display: flex;
        justify-content: center;
        padding: 15px 0;

        .icon {
            display: block;
        }

        .space {
            display: block;
            width: 20px;
        }
    }

    .wp-pagenavi {
        text-align: center;

        span {
            display: inline-block;
            margin: 0;
            padding: 0;
            width: 30px;
            height: 30px;
            line-height: 29px;
            border-radius: 50%;
        }
        a{
            display: inline-block;
            margin: 0;
            padding: 0;
            width: 20px;
            height: 20px;
            line-height: 15px;
            border-radius: 50%;
        }
    }

    .contents {
        @include mq(sp_max) {
            .content {
                width: 300px;
                margin: 0 auto;
            }
        }

        @include mq(sp_min) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-content: space-between;
        }

        .content {
            @include mq(sp_min) {
                display: block;
                width: 300px;
                margin: 10px;
            }

            .detail {
                img {
                    display: block;
                    padding-bottom: 15px;
                    width: 100%;
                }
            }
        }
    }
}